/* ===== BODY ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#06152f;
    color:#fff;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow-x:hidden;
}

/* ===== BACKGROUND GLOW ===== */

body::before{
    content:"";
    position:fixed;
    width:700px;
    height:700px;
    background:#00bfff;
    filter:blur(180px);
    opacity:.18;
    left:-250px;
    top:-150px;
    z-index:-2;
}

body::after{
    content:"";
    position:fixed;
    width:650px;
    height:650px;
    background:#FFD700;
    filter:blur(180px);
    opacity:.15;
    right:-200px;
    bottom:-200px;
    z-index:-2;
}

/* ===== CONTAINER ===== */

.container{

    width:90%;
    max-width:850px;

    background:rgba(8,18,45,.80);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,215,0,.4);

    border-radius:25px;

    padding:45px;

    text-align:center;

    box-shadow:
    0 0 20px #FFD700,
    0 0 50px rgba(255,215,0,.4),
    0 0 80px rgba(0,170,255,.25);
}

/* ===== TITLE ===== */

h1{

    font-size:3rem;

    color:#FFD700;

    text-shadow:
    0 0 8px #FFD700,
    0 0 20px #FFD700,
    0 0 40px #FFD700;

    margin-bottom:15px;
}

p{

    color:#ddd;

    margin-bottom:35px;

    font-size:18px;
}

/* ===== SUBJECTS ===== */

.subjects{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;
}

/* ===== BUTTONS ===== */

.subject-btn{

    text-decoration:none;

    color:white;

    padding:18px;

    border-radius:18px;

    font-size:20px;

    font-weight:bold;

    transition:.35s;

    background:linear-gradient(135deg,#007BFF,#00BFFF);

    border:2px solid #FFD700;

    box-shadow:
    0 0 12px #00BFFF,
    0 0 25px rgba(255,215,0,.4);

}

.subject-btn:hover{

    transform:translateY(-6px) scale(1.05);

    background:linear-gradient(135deg,#FFD700,#ffb300);

    color:#06152f;

    box-shadow:
    0 0 20px #FFD700,
    0 0 45px #FFD700,
    0 0 80px #FFD700;

}

/* ===== ANIMATION ===== */

@keyframes glow{

0%{
box-shadow:0 0 15px #FFD700;
}

50%{
box-shadow:
0 0 35px #FFD700,
0 0 60px #FFD700;
}

100%{
box-shadow:0 0 15px #FFD700;
}

}

.container{

animation:glow 2s infinite;
}
.home-btn{
display:inline-block;
margin-bottom:25px;
padding:10px 20px;
background:#1e88ff;
color:#fff;
text-decoration:none;
border-radius:10px;
font-weight:bold;
box-shadow:0 0 20px #00d4ff;
transition:.3s;
}

.home-btn:hover{
background:#0b6cff;
transform:translateY(-3px);
box-shadow:0 0 35px #00d4ff;
}
